@keyframes countUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .number-animation {
    animation: countUp 0.5s ease-in-out;
  }
  